@tailwind base;
@tailwind components;
@tailwind utilities;

@reference "tailwindcss";

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* With css I don't even know where to start, I kinda know what I need to achieve, but I'm clueless about how to actually achieve it beyond just googlin for styles and applying it. I don't know how to reason about css. Since it's usually consider to be something stupid, something copyable, mostly propagated by Moiz  */

.active {
  outline: 1px solid blue;
}

/* .grid { */
/*   /* display: grid; */ */
/*   text-align: center; */
/*   outline: 1px solid rgba(144, 175, 175, 0.75); */
/* } */

.row {
  display: flex;
}
.life-bar-container {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  background-color: #eee;
}

.life-bar {
  height: 100%;
  background-color: red;
  text-align: center;
  line-height: 20px;
  color: white;
}

/* .input { */
/*   display: inline; */
/*   width: 40%; */
/* } */

.invisibleInput {
  opacity: 0; /* Hides the input visually */
  background: transparent; /* Makes the input field invisible */
  border: none; /* Removes any visible border */
  padding: 0; /* Removes any padding */
  margin: 0; /* Removes any margin */
  /* overflow: hidden; */
}

.nodeBase {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.node {
  @apply bg-white;
}

.heroNode {
  @apply bg-green-500;
  /* background: green; */
  outline: 1px solid rgba(144, 175, 175, 0.75);
}
.inactiveNode {
    @apply bg-yellow-500;
      outline: 1px solid rgba(144, 175, 175, 0.75);
}

.activeNode {}

.activeFocusedNode {
  outline: 1px solid red;
  position: relative;
  z-index: 10;
}
